<html>
<table border="1">
<tr>
<th>id</th>
<th>height</th>
<th>egplandt</th>
<th>egpregdt</th>
<th>egstage4dt</th>
<th>egcd4dt</th>
<th>egcd4v</th>
<th>edate</th>
<th>egweight</th>
<th>enroldt</th>
<th>lastdt</th>
<th>returndt</th>
<th>startdt</th>
<th>startgprg</th>
</tr>
{% for p in patients %}
<tr>
<td>{{ p.id }}</td>
<td>{{ p.height|default:'' }}</td>
<td>{{ p.egplandt|default:'' }}</td>
<td>{{ p.egpregdt|default:'' }}</td>
<td>{{ p.egstage4dt|default:'' }}</td>
<td>{{ p.egcd4dt|default:'' }}</td>
<td>{{ p.egcd4v|default:'' }}</td>
<td>{{ p.edate }}</td>
<td>{{ p.egweight|default:'' }}</td>
<td>{{ p.enroldt|default:'' }}</td>
<td>{{ p.lastdt }}</td>
<td>{{ p.returndt }}</td>
<td>{{ p.startdt|default:'' }}</td>
<td>{{ p.startgprg|default:'' }}</td>
</tr>
{% endfor %}
</table>
</html>